@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yd-orange: theme("colors.yd-orange");
  --yd-dark-blue: theme("colors.yd-dark-blue");
  --yd-white: theme("colors.yd-white");
}

@layer base {
  html {
    @apply text-yd-dark-blue text-[18px] overflow-x-hidden scroll-smooth;
  }
}

.btn {
  @apply rounded-[10px] drop-shadow-md px-[22px] py-[10px] font-semibold;
}

.container {
  @apply relative mx-auto max-w-[1728px];
}

.faded-bg {
  background: linear-gradient(184deg, #fff 45.19%, #fafafa 63.65%);
}

.flickity-page-dots {
  @apply flex flex-row justify-center gap-[26px] bottom-0 py-[20px];
}

.flickity-page-dots .dot {
  @apply w-[45px] h-[10px] rounded-full bg-yd-grey opacity-100 block cursor-pointer;
}

.flickity-page-dots .dot.is-selected {
  @apply bg-yd-orange transition-colors duration-500;
}

.service-card strong {
  @apply text-yd-orange;
}

.full-screen {
  @apply h-[calc(100vh-142px)] min-h-[700px];
}

.prose {
  @apply max-w-[1000px];
}
.prose h1 {
  @apply mt-20 mb-20;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-yd-orange;
}
