@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yd-orange: theme("colors.yd-orange");
  --yd-dark-blue: theme("colors.yd-dark-blue");
  --yd-white: theme("colors.yd-white");
}

@layer base {
  html {
    @apply text-yd-dark-blue text-[18px] scroll-smooth;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }
}

.btn {
  @apply rounded-[10px] drop-shadow-md px-[22px] py-[10px] font-semibold;
}

.container {
  @apply relative mx-auto max-w-[1728px] px-[20px] lg:px-[45px];
}

.faded-bg {
  background: linear-gradient(184deg, #fff 45.19%, #fafafa 63.65%);
}

.flickity-page-dots {
  @apply flex flex-row justify-center gap-[26px] bottom-0 py-[20px];
}

.flickity-page-dots .dot {
  @apply w-[45px] h-[10px] rounded-full bg-yd-grey opacity-100 block cursor-pointer;
}

.flickity-page-dots .dot.is-selected {
  @apply bg-yd-orange transition-colors duration-500;
}

.service-card strong {
  @apply text-yd-orange;
}

.full-screen {
  @apply h-[calc(100vh-142px)] min-h-[700px];
}

.prose {
  @apply max-w-[1000px];
}
.prose h1 {
  @apply mt-20 mb-20;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-yd-orange;
}

.landing-section {
  @apply my-[51px] lg:my-32;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-semibold;
}

h1,
h2 {
  @apply text-xl md:text-3xl;
}

h3 {
  @apply text-xl md:text-2xl font-semibold;
}

.slider-dot {
  @apply w-[15px] h-[15px] rounded-full bg-yd-grey cursor-pointer;
}

.slider-btn {
  @apply shadow-yd-default text-base w-[50px] h-[50px] border-yd-orange rounded-full bg-yd-white border-2;
}

.slider-btn.slider-btn-left {
  @apply md:-translate-x-1/2 -translate-x-1/4;
}

.slider-btn.slider-btn-right {
  @apply md:translate-x-1/2 translate-x-1/4;
}
