@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yd-orange: theme("colors.yd-orange");
  --yd-dark-blue: theme("colors.yd-dark-blue");
  --yd-white: theme("colors.yd-white");
}

@layer base {
  html {
    @apply text-yd-dark-blue text-[18px] overflow-x-hidden scroll-smooth;
  }

  body.tutoring {
    @apply leading-relaxed;
  }
}

.btn {
  @apply rounded-[10px] drop-shadow-md px-[22px] py-[10px] font-semibold;
}

.container {
  @apply relative mx-auto max-w-[1728px] px-[20px] lg:px-[45px];
}

.faded-bg {
  background: linear-gradient(184deg, #fff 45.19%, #fafafa 63.65%);
}

.flickity-page-dots {
  @apply flex flex-row justify-center gap-[26px] bottom-0 py-[20px];
}

.flickity-page-dots .dot {
  @apply w-[45px] h-[10px] rounded-full bg-yd-grey opacity-100 block cursor-pointer;
}

.flickity-page-dots .dot.is-selected {
  @apply bg-yd-orange transition-colors duration-500;
}

.service-card strong {
  @apply text-yd-orange;
}

.full-screen {
  @apply h-[calc(100vh-142px)] min-h-[700px];
}

.prose {
  @apply max-w-[1000px];
}
.prose h1 {
  @apply mt-20 mb-20;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-yd-orange;
}

.btn-tut {
  @apply rounded-[5px] px-[18px] py-[8px] font-medium;
}

.btn-tut-small {
  @apply px-[12px] py-[2px] text-sm;
}

.btn-tut:disabled {
  @apply opacity-50;
}

.card-tut {
  @apply bg-yd-tut-white p-[28px] rounded-[8px];
}

input.tut-form-control,
select.tut-form-control,
textarea.tut-form-control {
  @apply bg-yd-tut-white text-yd-tut-black px-[15px] py-[6px] rounded-[5px] block w-full;
}

input.tut-form-control:disabled,
select.tut-form-control:disabled,
textarea.tut-form-control:disabled {
  @apply opacity-40;
}

.yd-form-error {
  @apply text-red-500 text-sm;
}

.prose-tut li::marker {
  @apply text-yd-tut-green;
}

table th {
  @apply text-left;
}

.skeleton > * {
  @apply bg-yd-grey text-yd-grey text-transparent rounded-lg animate-pulse overflow-hidden pointer-events-none;
}

.landing-section {
  @apply my-[51px] lg:my-32;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-semibold;
}

h1,
h2 {
  @apply text-2xl lg:text-3xl;
}

h3 {
  @apply text-xl lg:text-2xl font-semibold;
}

.hiw-arrow {
  @apply rotate-90 lg:rotate-0 my-[40px] lg:my-0 w-[50px] lg:w-auto self-center;
}

.hiw-step {
  @apply text-lg font-semibold mb-[27px];
}

.hiw-section {
  @apply lg:max-w-[260px] flex flex-col justify-between w-full md:w-auto;
}
